<!DOCTYPE html>
<html lang="en">
<head>
    <title>Top 5 Restaurants</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="vertical-menu">
        <a asp-action="Index">Home (Current List)</a>
        <a asp-action="Suggestions">Suggest a Restaurant!</a>
        <a asp-action="SuggestionList">Suggestion List</a>
    </div>
    <h1>@ViewBag.Title</h1>
    @RenderBody()
    <footer>J.R. Smith, Inc.</footer>
</body>
</html>